<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bdadmission">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.aos.bdadmission.BaseApplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.aos.bdadmission.Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aos.bdadmission.Activity.FavButton" />
        <activity android:name="com.aos.bdadmission.Activity.DateNotice" />
        <activity android:name="com.aos.bdadmission.Activity.ResultNotice" />
        <activity android:name="com.aos.bdadmission.Activity.OtherNotice" />
        <activity android:name="com.aos.bdadmission.Activity.Varsity_Profile">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name="com.aos.bdadmission.Activity.All_Notice">
        </activity>
        <service android:name="com.aos.bdadmission.BackgroudTask.AppBackground">
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="514fa94a1d4345472e4bb935c8928674788c0296" />
    </application>

</manifest>